<!-- Fabian Soto Palacio | Student ID : 301153142 -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Copyright &copy; 2021 - Fabian Soto</a>
    <p class="navbar-collapse">Student ID = 301153142</p>
  </div>
</nav>