  <!-- Fabian Soto Palacio | Student ID : 301153142 -->
<div class="container">
<br>
  <h1 class="text-center"><%= title %> me</h1>
  <br /><br />
  <p>
    I am <span><b>Fabian Soto</b></span>
  </p>
  <div>
    <img class="mediumSizedImgs" src="./assets/images/fabian_perfil.png" />
  </div>
  <p>
    I love to do things the best way possible. <br /><br />

    Recently, I started my second career now in software engineering technology.
    I was always very passionate about technology and very curious. I always
    wanted to learn and get into software engineering and programming but never
    took the chance before. Now I'm fully into it and I'm loving it!.<br /><br />

    I consider myself a good problem solver, and that's what good programmers
    should do.<br /><br />

    With the above, and my leadership experience and past entrepreneur projects,
    for sure I'm a very good candidate for any type of project. I wish to invest
    all this new knowledge in developing programs and platforms that could be
    beneficial and profitable for future projects or companies that might need
    my services.<br /><br />

    Graduated from Music & sound engineering.<br />
    Sound engineering, music, media editing, communications.<br /><br />

    Last but not least, my favourite hobby today is Gaming, streaming, and
    editing occasionally on youtube with my brand @directnrg.<br /><br />
  </p>
  <div class="centeredContentXL">
    <p>"If you don't believe in yourself, why others should believe in you?"</p>
  </div>
</div>