<!-- Fabian Soto Palacio | Student ID : 301153142 -->
<div class="container text-center">
<br>
  <title><%= title %></title>
  <h1>Welcome to my portafolio</h1>
  <br>
</div>
<div class="d-flex justify-content-center">
  <!-- card 1 bootstrap-->
  <div class="card" style="width: 18rem">
    <img alt="profile.png" class="card-img-top" src="./assets/images/fabian_perfil.png" />
    <div class="card-body">
      <h5 class="card-title">Hello! this is me</h5>
      <p class="card-text">Find some key information about who I am</p>
      <a href="/about" class="btn btn-primary">About me</a>
    </div>
  </div>
  <!-- end of card 1 -->

  <!-- card 2 bootstrap-->
  <div class="card" style="width: 18rem">
    <img alt="work.png" class="card-img-top" src="./assets/images/pexels-junior-teixeira-2047905.png" />
    <div class="card-body">
      <h5 class="card-title">This is what I can do for you.</h5>
      <p class="card-text">Need some assistance?.</p>
      <a href="/services" class="btn btn-primary">Services</a>
    </div>
  </div>
  <!-- end of card 2 -->

  <!-- card 3 bootstrap-->
  <div class="card" style="width: 18rem">
    <img alt="projects.png" class="card-img-top" src="./assets/images/pexels-lukas-669615.jpg" />
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <p class="card-text">
        Here in this section you fill find some examples of my previous work and
        in progress.
      </p>
      <a href="/projects" class="btn btn-primary">Projects</a>
    </div>
  </div>
  <!-- end of card 3 -->

  <!-- card 4 bootstrap-->
  <div class="card" style="width: 18rem">
    <img alt="projects.png" class="card-img-top" src="./assets/images/pexels-porapak-apichodilok-346734.jpg" />
    <div class="card-body">
      <h5 class="card-title">Want to have a talk?</h5>
      <p class="card-text">
        Send me a message or access to my contact information
      </p>
      <a href="/contact" class="btn btn-primary">Contact</a>
    </div>
  </div>
  <!-- end of card 4 -->
</div>