  <!-- Fabian Soto Palacio | Student ID : 301153142 -->
<div class="container">
<br>
  <h1 class="text-center">Current <%= title %></h1>
  <br>
</div>
<!-- accordion item bootstrap-->
<!-- displayable menu that can contain html elements inside a dropdown field -->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Metacritic review controller
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <img class="centeredImgs-md" src="./assets/images/597919-metacritic-review-bombing.jpg" /><br /><p class="text-center">Controlling who
        reviews and under what conditions has become
        really important as most of the content that the people are consuming is
        digital. false profiles are now very common. with this implementation I
        attempt to provide control over some minimum requirements that should be
        met by someone who ones to write a review about games.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        E-commerce adaptation
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <img class="centeredImgs-md" src="./assets/images/logo_four WHITE 1000x1000.png" /><br /><p class="text-center">Having our products
        online is very important. Right now I'm
        currently working on the adaptation of an e-commerce for a family
        business that sell personalized medical uniforms.</p>
      </div>
    </div>
  </div>
</div>
<!-- end of accordion item -->
<br />
<br />
<br />
<br />
<br />