  <!-- Fabian Soto Palacio | Student ID : 301153142 -->
<div class="container text-center">
  <br>
  <h1 class="text-center"><%= title %></h1>
  <p>Having problems with some software solutions? Here is what I do.</p>
</div>

<!-- accordion item -->
<!-- displayable menu that can contain html elements inside a dropdown field -->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Web applications & web design
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><img class="centeredImgs-md"  
          src="./assets/images/pexels-negative-space-160107.png"><br><p class="text-center">Let's make your dreamed page or web application
        come to life</p></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Mobile Applications
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><img class="centeredImgs-md"
          src="./assets/images/pexels-cottonbro-5082580.png"><br><p class="text-center">Having an app for the service or business you have
        might be esential for your success. </p></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Sound Engineering & production
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"><img class="centeredImgs-md"
          src="./assets/images/pexels-jonathan-robles-5337092.png"><br><p class="text-center">Who says a programmer is only a programmer?
        before I became one, I was, I am and always be a musician with excelent ear and taste for music mixing and
        production. Make those internal dreams come true bringing to life all those hidden talents</p></div>
    </div>
  </div>
</div>
<!-- end of accordion item -->
<br>
<br>
<br>
<br>
<br>